{% extends "base.html" %}

{% block content %}
<div class="col-md-9">
     <form action="{% url 'add_money' %}" method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        <label for="username" value="{{request.username}}">Username</label>
        {{ form.username }}
        <br>
        <input type="number" name="money" placeholder="money" class="form-control" autocomplete="off" id="money">
        <button class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}